<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
      </thead>

      <tr *ngFor="let user of TableData">
        <td *ngIf="user.id === EditRowId">
          <input type="text" [(ngModel)]="user.name" />
        </td>
        <td *ngIf="user.id != EditRowId" (click)="Edit(user.id)">
          {{user.name}}
        </td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
      </tr>

    </table>
  </div>
</div>

<div class="row">
  <pre>
    {{TableData | json}}
  </pre>
</div>






<router-outlet></router-outlet>
